/* SalesDashboardManager.css */

.header {
  background-color: #136E6D;
  color: white;
}

.header h1 {
  margin: 0;
  font-size: 1.8rem;
}

.filterButton {
  margin-right: 20px;
}

.nested-grid {
    display: grid;
  }
  
.grid-container {
  border-radius: 8px;
  background-color: #e8e8e8;
}

body, html {
  margin: 0;
  padding: 0;
  background-color: #e8e8e8;
  overflow-x: hidden;
}
